@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf) format('opentype');
}
:root{
    --corSombra:#0000002f;
    --corFundo:#EBE5C5;
    --corDestaque:#ffa9fb;
    --cor04:#9209D6;
    --cor05:#500675;
    --cor06:#32034A;

    --fontePadrao: Arial, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', cursive; 
    --fonteAndroid: idroid, cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fontePadrao);
    text-align: justify;
    margin: 0px;
    background-color: var(--corFundo);    
}
header{
    text-align: center;
    background-image: linear-gradient(to top, var(--cor06), var(--cor04));
    padding: 10px;
    padding-top: 50px;
    color: white;
    font-size: 19px;
    box-shadow: 0px 4px 7px 2px var(--corSombra);
}
header > section > p{
    max-width: 600px;
    margin: auto;
}
nav{
    text-align: justify;
    margin-top: 50px;
    font-size: 16px;
}
h1, h2{
    font-family: var(--fonteAndroid);
    font-style: normal;
    color: var(--cor06);
    font-weight: normal;
    line-height: 1;
    margin-top: 10px;
}
article > h1{
    font-size: 28px;
    margin-bottom: 20px;
}
section > h1{
    color: white;
    font-family: var(--fonteDestaque);
    font-size: 48px;
    font-weight: 500;
    text-shadow: 2px 2px 1px var(--cor05);
}
h2{
    background-image: linear-gradient(to right, var(--corDestaque), transparent);
    font-size: 20px;
    padding: 2px;
    margin-bottom: 10px;
    padding-left: 10px;
}
header > section > p{
    text-shadow: 2px 2px 1px var(--cor06);
    margin-top: 20px;
}
a{
    color: var(--cor06);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
a:hover{
    color: var(--cor05);
}
nav > a{
    color: var(--corDestaque);
    transition-duration: 0.5s;
}
strong{
    color: var(--cor06);
}
nav > a:hover{
    color: var(--cor06);
    background-color: var(--corDestaque);
    border-radius: 5px;
}

p{
    text-indent: 2em;
}

main{
    padding: 20px;
    background-color: white;
    margin: auto;
    padding-bottom: 30px;
    line-height: 2;
    min-width: 400px;
    max-width: 1000px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 7px 2px var(--corSombra);
}

mark{
    background-color: var(--corDestaque);
    color: var(--cor06);
}
mark::after{
    content: '🔗 ';
}
mark:hover{
    text-decoration: underline;
}
#video{
    background-color: var(--cor06);
    margin: -20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.resp-div{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#extra{
    background-color: var(--corDestaque);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 5px 7px 0px var(--corSombra);    
}
#extra > p {
    padding: 10px;
    margin-bottom: 15px;
}
.titulo{
    background-color: var(--cor05);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    margin-bottom: 10px;
}
ul{
    columns: 2;
    margin-left: 25px;
    line-height: 1;
    list-style: none;
    padding: 10px;
}
li{
    list-style: "  ✔  ";
    padding-right: 30px;
}
.centralizando{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imagem{
    width: 100%;
    padding-top: 20px;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 5px 0px;
}
footer > p > a{
    color: white;
    padding: 0px;
}

footer > p > a:hover{
    color: var(--corDestaque);
    text-decoration: underline;
}



